@import "tailwindcss";
@import "tw-animate-css";

* {
  font-family: 'Montserrat', sans-serif;
}

input:focus-visible {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}